@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
	/* background-color: #f5f4ef; */
	font-family: Roboto, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.fa-bars { transform: scale(1.5,1); -webkit-text-stroke: 1px background-color;}

.headernav {
	@apply bg-[#00713d] text-white w-full h-[50px] flex;
}

.topnav {
	@apply flex w-full bg-[#45aa42] text-white mb-5 text-sm;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

.topnav__options{
	@apply w-[65%] flex justify-end m-auto;
}

.topnav .option{
	@apply block px-5 py-3;
}

.topnav .home{
	@apply invisible;
}


/* When the screen is less than 770 pixels wide, hide all links, except for hamburger button. 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 770px) {
	.headernav{
		@apply hidden;
	}

	.topnav{
		@apply p-2 pr-0 flex flex-row-reverse m-auto mb-3 h-[52px];
	}
	.topnav .topnav__options{
		/* overflow: hidden; */
		opacity: 0;
		max-height: 0;
		-webkit-transition: max-height .5s ease-out;
		transition: max-height .5s ease-out;
		width: 100%;
	}
	.topnav .icon {
		@apply bg-[#f7f7f7] text-[#888] text-lg block px-3 py-1 self-end mr-3;
	}

	/* .menu-button-links [role="menu"]{
		max-height: 0;
		-webkit-transition: max-height .5s ease-out;
		transition: max-height .5s ease-out;
		width: 100%;
	} */

	.menu-button-links [role="menuitem"]{
		@apply w-full bg-[#f7f7f7] !pl-8;
		@apply focus:!bg-[#f7f7f7] focus:outline-none focus:!text-gray-400;
	}

	.menu-button-links {
		@apply !px-0 py-3;
	}

	.menu-button-links button {
		@apply !ml-5;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 770px) {
	.topnav.responsive {
		/* position: relative; */
		/* @apply block w-full bg-[#45aa42] text-white mb-5; */
		@apply flex flex-col w-full h-fit bg-[#45aa42] text-white mb-5 px-0;
	}

	.topnav.responsive .topnav__options{
		@apply flex flex-col max-h-[500px] border-t border-white w-full opacity-100;
		/* @apply block max-h-[500px] border-t border-white w-full opacity-100; */
	}

	.topnav.responsive .home{
		@apply visible;
	}

	.topnav.responsive .icon {
		@apply mb-2;
	}

	.topnav.responsive .option {
	}

}

/* .carousel {
	@apply max-w-[1070px] h-[100vh] max-h-[360px] relative;
}

.carousel-button {
	@apply absolute z-[2] bg-none border-none text-5xl cursor-pointer top-[45%];
}

.carousel-button.prev {
	left: 1rem;
}

.carousel-button.next {
	right: 1rem;
}

.slide {
	@apply absolute inset-0 opacity-0;
}

.slide[data-active] {
	@apply opacity-100;
} */

.carouseel {
	@apply relative max-w-full max-h-[360px];
	@apply mb-5;
}

.carouseel__item {
	@apply h-[360px] hidden;
}

.carouseel__item--selected {
	@apply block;
}

.carouseel__nav {
	@apply w-full pb-10 px-0 absolute bottom-0 left-0 text-center;
	@apply border-b-4;
}

.carouseel__button {
	@apply w-[10px] h-[10px] inline-block mx-[2px] cursor-pointer bg-neutral-200;
}

.carouseel__button--selected {
	@apply bg-neutral-400;
}


/* CSS for example accesible menu button */
.menu-button-links {
	@apply px-5 py-3;
}
.menu-button-links button {
	@apply inline-block m-0 p-0 relative text-white;
}

.menu-button-links [role="menu"] {
	@apply absolute hidden bg-white text-sm text-gray-700 mt-3;
	@apply border-x border-b-4 py-1 list-none z-10;
	/* @apply border-x border-b-4 py-1 list-none z-10 tablet:bg-red-500; */
}
.menu-button-links [role="menuitem"]{
	@apply block border-none m-0 py-[6px] px-5;
	@apply focus:bg-[#45aa42]/80 focus:outline-none focus:text-white;
}

	
.tabs {
    /* font-family: "lucida grande", sans-serif; */
}
[role="tablist"] {
    min-width: 550px;
	@apply absolute bottom-[10%] left-[50%];

}

/* [role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
    position: relative;
    z-index: 2;
    top: 2px;
    margin: 0;
    margin-top: 4px;
    padding: 3px 3px 4px;
    border: 1px solid hsl(219deg 1% 72%);
    border-bottom: 2px solid hsl(219deg 1% 72%);
    border-radius: 5px 5px 0 0;
    overflow: visible;
    background: hsl(220deg 20% 94%);
    outline: none;
    font-weight: bold;
} */

[role="tab"] {
    /* border-bottom: 1px solid hsl(219deg 1% 72%); */
	@apply w-[10px] h-[10px] inline-block mx-[2px] bg-neutral-200;
}

[role="tab"][aria-selected="true"] {
	@apply bg-neutral-400;
    /* padding: 2px 2px 4px;
    margin-top: 0;
    border-width: 2px;
    border-top-width: 6px;
    border-top-color: rgb(36 116 214);
    border-bottom-color: hsl(220deg 43% 99%);
    background: hsl(220deg 43% 99%); */
}

/* [role="tab"][aria-selected="false"] {
    border-bottom: 1px solid hsl(219deg 1% 72%);
} */

[role="tab"] span.focus {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
}

[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
    padding: 2px 4px;
    border: 2px solid rgb(36 116 214);
    border-radius: 3px;
}
[role="tabpanel"] {
    /* padding: 5px;
    border: 2px solid hsl(219deg 1% 72%);
    border-radius: 0 5px 5px;
    background: hsl(220deg 43% 99%); */
    min-height: 10em;
    min-width: 550px;
    overflow: auto;
}
[role="tabpanel"].is-hidden {
    display: none;
}
[role="tabpanel"] p {
    margin: 0;
}

